{% block content %}
	<header class="header">
		<div class="video-block">
			<video loop="" poster="" autoplay="" class="video-banner">
				<source src="img/video-bg.mp4" type="video/mp4">
			</video>
		</div>
		<div class="header__wrapper">
			<div class="header__top">
				<div class="header__logo">
					<a href="/">
						<img src="img/logo.png" alt="">
						<span>Системы озонирования</span>
					</a>
				</div>
				<div class="header__info">
					<a href="" class="contacts">Контакты</a>
					<a href="#callback" class="callback">
						<svg class="callback__icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/icon-svg/sprite-svg.svg#tel"></use>
						</svg>
						Заказать звонок
					</a>
				</div>
			</div>

			<div class="main-slider">
				<div class="slider">
					<div class="slide__wrapper">
						<div class="title">Очистка воды</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, placeat, accusantium. Totam odio est fugiat ea repudiandae ratione illum asperiores repellendus rem consequatur? A dolor dolore nostrum sint, ipsam quisquam labore accusantium excepturi. Esse tenetur ducimus dicta qui ex hic atque facere, delectus quibusdam? Est, voluptas totam voluptatum similique magni!
						</div>
					</div>
				</div>
				<div class="slider">
					<div class="slide__wrapper">
						<div class="title">Очистка воды</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, placeat, accusantium. Totam odio est fugiat ea repudiandae ratione illum asperiores repellendus rem consequatur? A dolor dolore nostrum sint, ipsam quisquam labore accusantium excepturi. Esse tenetur ducimus dicta qui ex hic atque facere, delectus quibusdam? Est, voluptas totam voluptatum similique magni!
						</div>
					</div>
				</div>
				<div class="slider">
					<div class="slide__wrapper">
						<div class="title">Очистка воды</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, placeat, accusantium. Totam odio est fugiat ea repudiandae ratione illum asperiores repellendus rem consequatur? A dolor dolore nostrum sint, ipsam quisquam labore accusantium excepturi. Esse tenetur ducimus dicta qui ex hic atque facere, delectus quibusdam? Est, voluptas totam voluptatum similique magni!
						</div>
					</div>
				</div>
			</div>
			<div class="header__btn">
				<a href="" class="btn">О компании</a>
				<a href="" class="btn">Оборудование</a>
			</div>
			<div class="header__address">
				Офис Санкт-Петербург, Невский проспект д.3
			</div>
		</div>

	</header>
{% endblock %}
